<h1>Gerenciador de notícias</h1>
<h2>Notícias recentes</h2>
<p>Clique no título da notícia para expandir</p>
<div>
  <ul>
    <li *ngFor="let noticia of noticias">
      <p (click)="mostrar(noticia)">{{ noticia.titulo }}</p>
      <p *ngIf="noticia.visivel">
        Conteudo:<br>
        {{ noticia.conteudo }}<br>
        Data de Publicação: {{ noticia.data }}<br>
        Categoria: {{ noticia.categoria }}<br>
        Tags: {{ noticia.tags }}<br>
        Editoria: {{ noticia.editoria }}<br>
        {{ noticia.sim }}
        {{ noticia.nao }}
        <br>
        <button (click)="fechar(noticia)">Fechar</button>
        <button (click)="excluir(noticia)">Excluir</button>
        <button id="editar" translate="yes" *ngIf="noticia.visivel" (click)="iseditar(noticia)">Editar</button>
      </p>
    </li>
  </ul>
</div>

<h2>Cadastrar notícia</h2>
<form #cadastro="ngForm" (submit)="salvar()">
  <div>
    <label for="titulo">Título</label>
    <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required>
  </div>
  <div>
    <label for="conteudo">Descrição</label>
    <textarea id="conteudo" name="conteudo" cols="80" rows="5" [(ngModel)]="conteudo" required></textarea>
  </div>
  <div>
      <label id="date">Data</label>
      <input id="date" type="date" name="Data" [(ngModel)]="data" required>
  </div>
  <div>
    <h2>A noticia foi publicada?</h2>
    <label for="Sim">Sim</label>
    <input type="checkbox" name="sim" value="Sim" [(ngModel)]="sim"><br>
    <label for="Sim">Não</label>
    <input type="checkbox" name="não" value="Não" [(ngModel)]="nao"><br>
  </div>
  <div>
    <label for="categoria">Categoria</label><br>
    <select name="categoria" class="form-control" [(ngModel)]="categoria" required> <br>
      <option value="Esporte"> Esporte </option>
      <option value="Politica"> Política </option>
      <option value="Lazer">Lazer</option>
      </select><br>
  </div>
  <div>
    <label for="tags">Tags</label><br>
    <select name="tags" class="form-control" [(ngModel)]="tags" required multiple size="6">
      <option value="carros">Carros</option> 
      <option value="lazer">Lazer</option>
      <option value="esporte">Esporte</option>
      <option value="familia">Familia</option>
      <option value="politica">Politica</option>
      <option value="sociedade">Sociedade</option>
    </select><br>
  </div>
  <div>
    <label for="editoria" >Editoria</label><br>
    <input type="radio" name="editoria" value="politica" checked [(ngModel)]="editoria" required >Política<br>
    <input type="radio" name="editoria" value="economia" [(ngModel)]="editoria" required >Economia<br>
    <input type="radio" name="editoria" value="esporte" [(ngModel)]="editoria" required >Esporte<br>
    <input type="radio" name="editoria" value="entretenimento" [(ngModel)]="editoria" required>Entretenimento <br>

  </div>
  <div>
    <button type="submit">Salvar</button>
    <button type="reset" formnovalidate>Limpar</button>
  </div>
</form>
